<div class="col-md3">
  <h2>User info</h2>

  <% image_tag user.get_profile_image(100,100) %>

  <table>
    <tbody>
      <% user.each do |user| %>
      <tr>
        <th>name</th>
        <th><%= current_user.name %></th>
      </tr>
      <tr>
        <th>introduction</th>
        <th><%= current_user.introduction %></th>
      </tr>
    <% end %>
  </tbody>

  <div>
    <% if @user == current_user %>
      <%= link_to edit_user_path(user.id) %>
    <% else %>
      <%= link_to user_path(user.id) %>
    <% end %>
  </div>

  <div class="container">
    <div class="">
      
    </div>
  </div>
  <h2>New book</h2>
  <%= form_with model: book do |f| %>

    <label>Titel</label>
    <%= f.text_filed :titel %>

    <label>Opinion</label>
    <%= f.text_area :opinion %>

    <%= f.submit "Create Book" %>
  <% end %>
  </table>
  
</div>