<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <h2>User info</h2>

      <div class="form-group">
        <%= form_with model: @user do |f| %>
          <div class="form-control">
            <label for="inoutName">Name</label>
            <%= f.text_filed :name, autofocus: true, id:"inputName"%>
          </div>
          <div class="form-control">
            <label for="inputImage">Image</label>
            <%= f.file_field :profile_image, accept: "image/*" %>
          </div>
          <div class="form-control">
            <label for="inputIntroduction">Introduction</label>
            <%= f.text_filed :Introduction %>
          </div>
          <div class="form-control">
            <%= f.submit 'Update User' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>