<h2>Book detail</h2>

<table>
  <tbody>
    <tr>
      <td>
        <%= image_tag @book.get_profile_image %>
        <%= link_to user_path(user.id) do %>
          <%= @book.user.name %>
        <% end %>
      </td>
      <td>
        <%= link_to book_path(book.id) do %>
          <%= @book.titel %>
        <% end %>
      </td>
      <td>
        <%= @book.opinion %>
      </td>
      <td>
        <% if @book.user == current_user %>
          <%= link_to "Edit", edit_path(book.id) %>
        <% end %>
      </td>
      <td>
        <% if @book.user == current_user %>
          <%= link_to "Destroy" book_path(@book.id), method: :detail %>
        <% end %>
      </td>
    </tr>
  </tbody>
</table>